Notebook created: 2018-03-19 00:21:17  
Generated from: _build_py/py/python_essentials.rst

### Native Python data types

#### Booleans

In [1]:
x = True
x

True

In [2]:
y = 100 < 10
y

False

In [3]:
type(y)

bool

In [6]:
x + y

1

In [7]:
x * y

0

In [8]:
True + True

2

In [9]:
bools = [True, True, False, True]  # List of Boolean values

sum(bools)

3

In [10]:
a, b = 1, 2
c, d = 2.5, 10.0
type(a)

int

In [11]:
type(c)

float

In [12]:
1 / 2

0.5

In [13]:
1 // 2

0

In [14]:
x = complex(1, 2)
y = complex(2, 1)
x * y

5j

#### Tuples

Tuples are **immutable** arrays

In [27]:
x = ('a', 'b')

In [28]:
x

('a', 'b')

In [29]:
type(x)

tuple

In [30]:
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [31]:
type(x)

tuple

Unlike lists, cannot mutate data:

In [32]:
x = 1, 2

In [33]:
x[0] = 10

TypeError: 'tuple' object does not support item assignment

Tuple unpacking:

In [35]:
integers = (10, 20, 30)
x, y, z = integers
x

10

In [36]:
y

20

#### Slices on sequence types

In [37]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

In [38]:
a[1:3]

[4, 6]

In [39]:
a[-2:]  # Last two elements of the list

[6, 8]

In [40]:
s = 'foobar'
s[-3:]  # Select the last three elements

'bar'

#### Dictionaries

In [41]:
d = {'name': 'Frodo', 'age': 33}
type(d)

dict

In [42]:
d['age']

33

### Input and Output

In [44]:
f = open('newfile.txt', 'w')   # Open 'newfile.txt' for writing
f.write('Testing\n')           # Here '\n' means new line
f.write('Testing again')
f.close()

In [45]:
%pwd

'/home/john/temp/columbia_sandpit'

In [46]:
f = open('newfile.txt', 'r')
out = f.read()
out

'Testing\nTesting again'

```none
'Testing\nTesting again'
```

In [47]:
print(out)

Testing
Testing again

A longer example

In [48]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Writing us_cities.txt

In [49]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')            # Tuple unpacking
    city = city.title()                           # Capitalize city names
    population = '{0:,}'.format(int(population))  # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

### Back to for loops

We know that we can iterate over lists

In [ ]:
x_values = [1, 2, 3]

In [52]:
for x in x_values:
    print(x * x)

1
4
9

It's nicer code than this:

In [53]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

The builtin functions `enumerate` and `zip` help with iteration.

In [54]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')

for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

In [61]:
names = ['Jack', 'Jill']
marks = ['A', 'B']

for name, mark in zip(names, marks):
    print(f"{name}'s mark is {mark}")

Jack's mark is A
Jill's mark is B

This function is also helpful for creating dicts

In [63]:
dict(zip(names, marks))

{'Jack': 'A', 'Jill': 'B'}

The `enumerate` function:

In [65]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"element {index} is {letter}")

element 0 is a
element 1 is b
element 2 is c

### Comparisons

In [68]:
x, y = 1, 2
x < y

True

In [69]:
x > y

False

In [70]:
1 < 2 < 3

True

In [71]:
1 <= 2 <= 3

True

In [72]:
x = 1    # Assignment
x == 2   # Comparison

False

In [73]:
1 != 2

True

In [74]:
x = 'yes' if 42 else 'no'
x

'yes'

In [75]:
x = 'yes' if [] else 'no'
x

'no'

In [76]:
1 < 2 and 'f' in 'foo'

True

In [77]:
1 < 2 and 'g' in 'foo'

False

In [78]:
1 < 2 or 'g' in 'foo'

True

In [79]:
not True

False

In [80]:
not not True

True

### Built in functions

In [82]:
max(19, 20)

20

In [84]:
range(4)

range(0, 4)

In [86]:
list(range(4))

[0, 1, 2, 3]

In [87]:
str(22)

'22'

In [88]:
type(22)

int

In [89]:
bools = False, True, True
all(bools)  # True if all are True and False otherwise

False

In [90]:
any(bools)  # False if all are False and True otherwise

True

### Back to functions

Execution terminates when the first `return` is hit:

In [96]:
def f(x):
    if x < 0:
        return 'negative'
    return 'nonnegative'

In [97]:
f(-1)

'negative'

Docstrings:

In [98]:
def f(x):
    """
    This function squares its argument
    """
    return x**2

In [99]:
f?

In [100]:
f??

#### One line functions (lambda)

Instead of this

In [ ]:
def f(x):
    return x**3

the following syntax is available

In [ ]:
f = lambda x: x**3

Here's a use case

In [101]:
from scipy.integrate import quad

quad(lambda x: x**3, 0, 2)

(4.0, 4.440892098500626e-14)

#### Keyword arguments

In [106]:
def f(x, a=1, b=1):
    return a + b * x

In [107]:
f(2)

3

In [108]:
f(2, a=4, b=5)

14

### Coding style and PEP8

Please read:

https://www.python.org/dev/peps/pep-0008/